*.pyc
__pycache__/
saved_latent_models/
tokenized_ds/
precomputed_latents/
results/
diff_results/
multirun/
outputs/
wandb/
Report/
*.sh

# jwk: maybe I'm missing some uv boilerplate in bashrc or smthn
.venv

# mi installer
!install*.sh